<li>
    <p>
        {{- if in (slice "图书" "指南" "手册") .ContentType -}}
        <i class="fas fa-book content-type"></i>
        {{- else if eq .ContentType "章节" -}}
        <i class="far fa-bookmark content-type"></i>
        {{- else if in (slice "卡片" "页面" "文章") .ContentType -}}
        <i class="far fa-file-alt content-type"></i>
        {{- else if in (slice "附件" "文件") .ContentType -}}
        <i class="far fa-file-archive content-type"></i>
        {{- else if eq .ContentType "终结点" -}}
        <i class="fas fa-terminal content-type"></i>
        {{- else if eq .ContentType "链接" -}}
        <i class="fas fa-link content-type"></i>
        {{- else if isset . "ContentType" -}}
        <span class="content-type">{{.ContentType}}</span>
        {{- else -}}
        <i class="fas fa-link content-type"></i>
        {{- end -}}
        <a {{ with .URL }}href="{{ . }}"{{ end }} target="_blank">{{ .Title }}</a>
    </p>
    <p>{{ .Description }}</p>
</li>