{{- if isset .Params "sections" -}}
{{- range .Params.Sections -}}
<section>
    <h2>{{ .Title }}</h2>
    {{ range .Groups }}
    <kb:topic>
        <h3>{{ .Title }}</h3>
        <ul>
        {{ range .Links }}
        {{ if isset . "Type" }}
            {{ $LinkPartial := print "topiclink/" .Type ".html" }}
            {{ partial $LinkPartial (dict
                "Title"       .Title
                "URL"         .URL
                "Description" .Description
                "Page"        ($.Page.GetPage .URL)
            ) }}
        {{ else }}
            {{ partial "topiclink/Page.html" (dict
                "Page"        ($.Page.GetPage .)
            ) }}
        {{ end }}
        {{ end }}
        </ul>
    </kb:topic>
    {{ end }}
</section>
{{- end -}}
{{- end -}}
